*{
    font-family: roboto;
    margin: 0;
}
.container {
}

/*header*/
.header {
    flex-flow: column wrap;
    background-color: #1f2937;
    align-content: center;
    padding: 15px;
}

/*menu*/
.menu {
    display: flex;
    justify-content: center;
    gap:250px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    align-items: center;

}

.list li {
    list-style-type: none;
    padding: 16px;
    
}
.list a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.list {
    display: flex;
    flex-direction: row;
}

/*hero*/
.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 150px;
    gap: 60px;
}

.mainh {
   display: flex;
   flex-direction: column;
   gap: 15px;
}
.mainh h2 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.mainh p {
    font-size: 18px;
    color: #e5e7eb;
}

.mainh button a {
    text-decoration: none;
    color: #e5e7eb;
}

.mainh button {
    align-self: flex-start;
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    width: 120px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}
.secondh{
    display: flex;
    
}
.secondh img{
    height: 250px;
    width: 450px;

}
/*section1*/
.section1 {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}
.info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.cards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 50px;
}
.card  img{
    width: 180px;
    border: solid 5px #3882f6;
    border-radius: 15px;
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text p {
    display: flex;
    align-self: center;
    padding: 15px;
}

/*section2*/
.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 150px;
}
.tesmo{
    display: flex;
    flex-direction: column;
    color: #1f2937;
}
.tesmo {
    font-size: 36px;
    font-style: italic;
}
.name{
    align-self: flex-end;
    font-size: 36px;
    font-weight: bold;
}

/*section3*/
.section3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 70px;
    margin: 15px;
}
.sec3{ 
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    padding: 35px 70px;
    color: #e5e7eb; 
    border-radius: 8px;
    align-items: center;
    gap: 150px;
}
.btn button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px;
    width: 100px;
    border: solid 2px #e5e7eb;
    border-radius: 5px;
    font-weight: bold;
}

.btn a{
    text-decoration: none;
    color: #e5e7eb;
}
.footer{
    flex-flow: column nowrap;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 35px;
    font-size: 18px;
}
.footer p {
    display: flex;
    justify-content: center;
}
